
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: linear-gradient(to right,#7309a7,#94d9fe);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
      }  
      

    #header {
      max-width: 100%;
      height: 100%;
    }
    .header-text {
      max-width: 990px;
      margin-left: 100px;
      margin-top: 10%;
      font-size: 27px;
    }
    .header-text span {
      color: white;
    }

    .header-text h1 {
      margin-top: 20px;
      font-size: 75px;
    }
    .header-text h1 span {
      color: transparent;
      -webkit-text-stroke: 2px rgb(255, 255, 255);
      background: url("back.png");
      -webkit-background-clip: text;
      background-position: 0 0;
      animation: back 20s linear infinite;
    }
    @keyframes back {
      100% {
        background-position: 2000px 0;
      }
    }

    .grid {
      display: grid;
      grid-row-gap: 50px;
      justify-items: center;
    }

    .container {
      margin-top: 100px;
    }
    .img-fluid {
      border: 2px solid black;
      margin-top: 13px;
      max-width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .list li {
      list-style-type: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: left;
      color: black;
      font-size: 20px;
    }
    .card {
      /*background: url("bg1.jpg") no-repeat center center fixed;*/
      
      background: rgba(255, 255, 255, 0.2); 
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
      padding: 22px;
      font-size: 18px;
      font-weight: 300;
      backdrop-filter: blur(5px);

      position: relative;
      display: flex;
      z-index: 2;
    }
    .card p,
    a {
      font-size: 18px;
      color: black;
    }
    .card-link {
      text-decoration: none;
      color: inherit;
    }
    .navbar {
      color: white;
      
    }
    .bg-body-tertiary {
      --bs-bg-opacity: 1;
      border: 2px solid black;
       background-image: linear-gradient(to right,#7309a7,#94d9fe);
  }
    .card {
      position: relative;
      margin: 10px;
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 10px;
      display: flex;
      font-size: 2em;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(255, 255, 255, 0.4);
      border-right: 1px solid rgb(255, 255, 255, 0.2);
      border-bottom: 1px solid rgb(255, 255, 255, 0.2);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      transition: 0.5s;
      overflow: hidden;
    }
    .card:hover {
      transform: translateY(-10px);
    }
    .card::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      background: rgb(255, 255, 255, 0.5);
      transform: skewX(45deg) translateX(150px);
      transition: 1s;
    }
    .card:hover::before {
      transform: skewX(45deg) translateX(-150px);
    }
    .card {
      opacity: 0;

      filter: blur (5px);

      transform: translateX(-100%);
      transition: all 1s;
    }

    .show {
      opacity: 1;

      filter: blur(0);
      transform: translateX(0);
    }
    
 