body {
    font-family: Arial, sans-serif;
    /* background-image: url(img\ \(1\).png); */
    /* background-image: url(bg.jpg); */
    /* background-image: url(bg2.jpg); */
    background-image: linear-gradient(to right, #2c55b4 0%, #3b068f  51%, #6f90dd  100%);
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between; /* Arrange child elements with space in between */
    align-items: center; /* Center vertically within the container */
    width: 400px; /* Adjust as needed */
    padding: 0px;
    /* border: 1px solid #ccc; */
    /* border-radius: 1px; */
    background-color: #f5f5f5;
}

#topLeftButton {
    position: absolute;
    border: none;
    background: none;
    padding: 10px;
    color: white;
    font-size: 24px;
    top: 0;
    left: 0;
}

.login-box {
    width: 600px;
    height: 500px;
    padding: 0px;
    margin-top: 0px;
    background-color: white;
    text-align: left;
}

.login-box h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-box h6 {
    text-align: center;
}

.form-group .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    text-align: center;
    min-width: 30px;
    margin-right: 0px;
    margin-left: 20px;
}
.form-group img {
    width: 10%;
    max-width: 100%;
    height: auto;
}

.form-group {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.form-control {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form-group {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    text-align: center/* To align labels to the left */
  }

.form-group input[type="email"],
.form-group input[type="password"] {
    margin-bottom: 600px;
    margin-right: 150px;
    align-items: center;
    width: 280px;
    height: 30px;
    font-size: 12px;
    margin: 0 auto; 
    display: block;
}         
#button {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    margin-top: 40px;
    margin-left: 140px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    display: block;
  }

  #button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.image-container1 {
    padding-top: 10px;
    text-align: center;

    /* width: 1px; */
    /* height: 1px; */
    /* width: auto; */
}
.image-container {
    /* width: 400px;
    height: 400px; */
    /* padding-top: 50px; */
    text-align: center;
}

.image-container img {
    width: 700px;
    height: 500px;
    margin-top: 5px;
}

.image-container1 img {
    padding-top: 20px;
    width: 200px;
    height: 120px;
}
.flash {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Change as needed */
    color: white; /* Change as needed */
    padding: 16px;
    border-radius: 4px;
    z-index: 1000;
    display: none; /* Hidden by default */
    animation: slideDown 2s forwards;
}

@keyframes slideDown {
    0% {
        top: -50px;
    }
    10%, 90% {
        top: 0;
    }
    100% {
        top: -50px;
    }
}