*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: linear-gradient(to right, #e66465, #9198e5);
    /* --second-bg-color: linear-gradient(#e66465, #9198e5);
    --third-bg-color: linear-gradient(#e66465, #9198e5);
    --text-color: linear-gradient(#e66465, #9198e5);
    --main-color: linear-gradient(#e66465, #9198e5); */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}   

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem; 
}