<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SIH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Login</title>
    <link rel="stylesheet" href="/website/static/css/Faculty_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="image-container1">
                <img src="/website/static/images/Faculty.png" alt="Login Image" class="logo">
            </div>
            <h2>Faculty Login</h2>
            <form id="login-form">
                <div class="form-group">
                    <i class="fa fa-user icon"></i>
                    <label for="email"></label>
                    <input type="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <i class="fa fa-key icon"></i>
                    <label for="password"></label>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <button id="button" type="submit">Login</button>
                <h6>Don't have an account? <a href="https://www.youtube.com/" target="_blank">Sign up!</a></h6>
            </form>
        </div>
    </div>
    <div class="image-container">
        <img src="/website/static/images/img (2).png" alt="Login Image">
    </div>
</body>
</html>
