<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SIH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Login</title>
    <link rel="stylesheet" href="static/css/Faculty_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash" id="flashMessage">{{ messages[0] }}</div>
                    <script>
                    $(document).ready(function() {
                        $('#flashMessage').show(); // Show the flash message
                        setTimeout(function() {
                            $('#flashMessage').hide(); // Hide the flash message after 2 seconds
                        }, 2000);
                    });
                    </script>
                {% endif %}
                {% endwith %}
    <div class="container">
        <div class="login-box">
            <div class="image-container1">
                <img src="/static/images/Faculty.png" alt="Login Image" class="logo">
            </div>
            <h2>Faculty Login</h2>
            <form id="login-form">
                <div class="form-group">
                    <i class="fa fa-user icon"></i>
                    <label for="email"></label>
                    <input type="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <i class="fa fa-key icon"></i>
                    <label for="password"></label>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <button id="button" type="submit">Login</button>
                <h6>Don't have an account? <a href="{{url_for('auth.signup_teacher')}}">Sign up!</a></h6>
            </form>
        </div>
    </div>
    <div class="image-container">
        <img src="static/images/img (2).png" alt="Login Image">
    </div>
</body>
</html>
