<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SIH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Signup</title>
    <link rel="stylesheet" href="static/css/Faculty_signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash" id="flashMessage">{{ messages[0] }}</div>
                    <script>
                    $(document).ready(function() {
                        $('#flashMessage').show(); // Show the flash message
                        setTimeout(function() {
                            $('#flashMessage').hide(); // Hide the flash message after 2 seconds
                        }, 2000);
                    });
                    </script>
                {% endif %}
                {% endwith %}
                <button id="topLeftButton">
                    <a href="{{url_for('views.home')}}" style="color:rgb(17, 17, 17); text-decoration: none;"><b>SIH</b></a>
                </button>
    <div class="container">
        <div class="signup-box">
            <div class="image-container1">
                <img src="static/images/Faculty.png" alt="Signup Image" class="logo">
            </div>
            <h2>Faculty Signup</h2>
            <form id="signup-form" action="{{url_for('auth.signup_teacher')}}" method="POST">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="facultyid"></label>
                    <input type="text" name="facultyID" id="facultyID" placeholder="Faculty ID" required>
                </div>
                <div class="form-group">
                    <label for="instituteID"></label>
                    <input type="text" name="institute_name" id="institue_name" placeholder="Institute Name" required>
                </div>
                <button id="button" type="submit">Register</button>
                <h6>Already have an account? <a href="{{url_for('auth.login_teacher')}}" >Log In!</a></h6>
            </form>
        </div>
    </div>
</body>
</html>
