<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SIH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>
 
    <link rel="stylesheet" href="static/css/Student_signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


    <div class="container">
        <div class="signup-box">
            <div class="image-container1">
                <img src="static/images/student.png" alt="Signup Image" class="logo">
            </div>
            <h2>Student Signup</h2>
            <form id="signup-form" action="{{url_for('auth.signup_student')}}" method="POST">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" name = "email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="studentid"></label>
                    <input type="text" name="studentID" placeholder="Registration Number" required>
                </div>
                <div class="form-group">
                    <label for="institution_name"></label>
                    <input type="text" name="institution_name" placeholder="Institute Name" required>
                </div>
                <div class="form-group">
                    <label for="address"></label>
                    <input type="text" name="address" placeholder="Address" required>
                </div>
                <div class="form-group">
                    <label for="gender"></label>
                    <input type="text" name="gender" placeholder="Gender" required>
                </div>
                <div class="form-group">
                    <label for="dob"></label>
                    <input type="date" name="dob" placeholder="Date of Birth" required>
                </div>
                <button id="button" type="submit">Register</button>
                <h6>Already have an account? <a href="{{url_for('auth.login_student')}}" >Log In!</a></h6>
            </form>
        </div>
    </div>
</body>
</html>
